<div id="browserClosePopUp" class="popupOverlay">
	<div class="overlay-content overlayShowing">
		<div class="activation-form">
			<h3><%= messages.testHome.browserCloseAlert %></h3>
	   			
	   		<div class="activation">
	   			<button type="button" id="confirmCloseBrowser" class="btn actGo">
					<%= messages.testPage.yes %>
				</button>
				<button type="button" id="confirmCancelCloseBrowser" class="btn actGo">
					<%= messages.testPage.no %>
				</button>
			</div>
		</div>
    </div>
</div>