<div id="errorid" class="popupOverlay">
	<div class="overlay-content overlayShowing">
		<div class="activation-form">	   		

	   				<p><%=errormessage%></p>
	   		
	   		<div class="activation">
				<button type="button" id="erroridok" class="btn-rev">Home Page</button>
			</div>
		</div>
    </div>
</div>