<div id="rubricInfo" class="overlay-rubric">   
	<div class="tool-hdr">
		<a class="ind-tool-close rubric-close">X</a> 
	</div> 
	<div id="rubricContent">
			<% if(rubricDirections != null) { %>
				<div class="rubric-hdr">
					<h3><%= rubricDirections %></h3> 
				</div>
			<% } %>
			<br>
			<div class="rubric-container"> 
	   			 <% for(var i=0; i<taskRubricCategories.length; i++) { %>  
			   			<div class="rubric-details">	   		 
				        	<table border="1" WIDTH="100%" CELLPADDING="4" CELLSPACING="3"> 
					        	<tbody>
									 <tr>
									  <th colspan="2" style="padding:0">
									  	<h3><%= taskRubricCategories[i].name %></h3>
									  </th>
									 </tr> 
					        		 <tr align="center">
								        <th>Score</th>
								        <th>Description</th>
								     </tr>
								     <% for(var j=0; j<taskRubricCategories[i].rubricInfos.length; j++) { %>
								        <tr>
								        <td><%= taskRubricCategories[i].rubricInfos[j].score %></td>
								        <td><%= taskRubricCategories[i].rubricInfos[j].description %></td>
								        </tr>
								    <% } %>
							    </tbody>
						    </table> 
				    	</div>
				    	<div class="rubric-details">&nbsp;</div>
				    	<div class="rubric-details">&nbsp;</div>
			    <% } %>  
			</div>
	</div>
</div> 
