<style> 
#studentRoster{
width: 375px;
}
</style>
<div id="dlmRosterReport">
	
	<div id="studentDiv" style="float:left;">
		<img src="images/search.png" alt="Search Students"/>
		<select name="studentRoster" title="Students" class="bcg_select" id="studentRoster">            
		</select>
		<span id="requiredmessage" style="display:none"><font color="red">This Field is required</font></span>
	</div>
	
	<div id="viewReportDiv" class="hidden">
		<a class="panel_btn" href="#" id="viewReport" style="margin: 0 0 0 8%; line-height:15px; color: white;">View Report</a>
	</div>
	
	<br/><br/>
	<div id="reportDisplayDiv" class="hidden" style="width:100%; margin-top:5%;">
		
	</div>
	
</div>