<div id="dlmStudentReport">
<div id="dlmStudentReportStudent" class="dlmStudentReportStudent">
	<div id="altStudentDropDownDiv" class="altStudentDropDownDiv" style="width: 40%; float: left;">
		<img src="images/search.png" style="float:left;margin-top: 0.5%;" alt="Search Students" />
		<select name="altStudentDropDown" id="altStudentDropDown" title="Students" style="width:375px; float:left;margin-left:0.5%;"> 
		</select>
			</div>
	
	<div id="viewAltStudentReportDiv" class="hidden viewAltStudentReportDiv">
		<a class="panel_btn" href="#" id="viewAltStudentReport" style="margin: 0 0 0 4%; line-height:15px; color: white;">View Report</a>
	</div>
</div>	
	<br/><br style="clear: left;" />
	<div id="altReportDisplayDiv" class="hidden altReportDisplayDiv">
		
	</div>
	
</div>