<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ku.cete.model.OrganizationAddressMapper">
  <resultMap id="BaseResultMap" type="edu.ku.cete.domain.api.OrganizationAddress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orgid" jdbcType="BIGINT" property="orgID" />
    <result column="orgaddress1" jdbcType="VARCHAR" property="orgAddress1" />
    <result column="orgaddress2" jdbcType="VARCHAR" property="orgAddress2" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="zip" jdbcType="VARCHAR" property="zip" />
    <result column="createduser" jdbcType="BIGINT" property="createdUser" />
    <result column="createddate" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="modifieduser" jdbcType="BIGINT" property="modifiedUser" />
    <result column="modifieddate" jdbcType="TIMESTAMP" property="modifiedDate" />
  </resultMap>
  
    <resultMap id="OrgAddressMap" type="edu.ku.cete.domain.api.OrganizationAddress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orgid" jdbcType="BIGINT" property="orgID" />
    <result column="orgaddress1" jdbcType="VARCHAR" property="orgAddress1" />
    <result column="orgaddress2" jdbcType="VARCHAR" property="orgAddress2" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="zip" jdbcType="VARCHAR" property="zip" />
    <result column="createduser" jdbcType="BIGINT" property="createdUser" />
    <result column="createddate" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="modifieduser" jdbcType="BIGINT" property="modifiedUser" />
    <result column="modifieddate" jdbcType="TIMESTAMP" property="modifiedDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, orgid, orgaddress1, orgaddress2, city, state, zip, createduser, createddate, 
    modifieduser, modifieddate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organizationaddress
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="edu.ku.cete.domain.api.OrganizationAddress">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 26 05:13:05 CDT 2018.
    -->
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT nextval('organizationaddress_id_seq')
    </selectKey>
    insert into organizationaddress (id, orgid, orgaddress1, 
      orgaddress2, city, state, 
      zip, createduser, createddate, 
      modifieduser, modifieddate)
    values (#{id,jdbcType=BIGINT}, #{orgID,jdbcType=BIGINT}, #{orgAddress1,jdbcType=VARCHAR}, 
      #{orgAddress2,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{zip,jdbcType=VARCHAR}, #{createdUser,jdbcType=BIGINT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{modifiedUser,jdbcType=BIGINT}, #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.ku.cete.domain.api.OrganizationAddress">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 26 05:13:05 CDT 2018.
    -->
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT nextval('organizationaddress_id_seq')
    </selectKey>
    insert into organizationaddress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="orgID != null">
        orgid,
      </if>
      <if test="orgAddress1 != null">
        orgaddress1,
      </if>
      <if test="orgAddress2 != null">
        orgaddress2,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="zip != null">
        zip,
      </if>
      <if test="createdUser != null">
        createduser,
      </if>
      <if test="createdDate != null">
        createddate,
      </if>
      <if test="modifiedUser != null">
        modifieduser,
      </if>
      <if test="modifiedDate != null">
        modifieddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="orgID != null">
        #{orgID,jdbcType=BIGINT},
      </if>
      <if test="orgAddress1 != null">
        #{orgAddress1,jdbcType=VARCHAR},
      </if>
      <if test="orgAddress2 != null">
        #{orgAddress2,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null">
        #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUser != null">
        #{modifiedUser,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.ku.cete.domain.api.OrganizationAddress">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 26 05:13:05 CDT 2018.
    -->
    update organizationaddress
    <set>
      <if test="orgID != null">
        orgid = #{orgID,jdbcType=BIGINT},
      </if>
      <if test="orgAddress1 != null">
        orgaddress1 = #{orgAddress1,jdbcType=VARCHAR},
      </if>
      <if test="orgAddress2 != null">
        orgaddress2 = #{orgAddress2,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null">
        createduser = #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        createddate = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUser != null">
        modifieduser = #{modifiedUser,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        modifieddate = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.ku.cete.domain.api.OrganizationAddress">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 26 05:13:05 CDT 2018.
    -->
    update organizationaddress
    set orgid = #{orgID,jdbcType=BIGINT},
      orgaddress1 = #{orgAddress1,jdbcType=VARCHAR},
      orgaddress2 = #{orgAddress2,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=VARCHAR},
      createduser = #{createdUser,jdbcType=BIGINT},
      createddate = #{createdDate,jdbcType=TIMESTAMP},
      modifieduser = #{modifiedUser,jdbcType=BIGINT},
      modifieddate = #{modifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getAddressForOrganization" parameterType="java.lang.Long" resultMap="OrgAddressMap">
    select 
    <include refid="Base_Column_List" />
    from organizationaddress
    where orgid = #{orgid,jdbcType=BIGINT}
  	</select>
</mapper>