<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.ku.cete.dataextracts.model.DataExtractsSupportMapper">


	<resultMap type="edu.ku.cete.domain.common.Organization" id="OrganizationResultMap">
        <id column="id" property="id" javaType="long"/>
        <result column="organizationname" property="organizationName" javaType="String"/>
        <result column="displayidentifier" property="displayIdentifier" javaType="String"/>
        <result column="welcomeMessage" property="welcomeMessage" javaType="String"/>
        <result column="organizationtypeid" property="organizationType.organizationTypeId"/>
        <result column="relatedOrganizationId" property="relatedOrganizationId" javaType="Long"/>
        <result column="buildinguniqueness" property="buildingUniqueness" javaType="Long"/>
        <result column="schoolstartdate" jdbcType="TIMESTAMP" property="schoolStartDate" />
        <result column="schoolenddate" jdbcType="TIMESTAMP" property="schoolEndDate" />
        <result column="parentOrgDisplayName" javaType="String" property="parentOrgDisplayName" />
        <result column="parentOrgTypeCode" javaType="String" property="parentOrgTypeCode" />
        <result column="contractingorganization" javaType="Boolean" property="contractingOrganization" />
        <result column="expirepasswords" javaType="Boolean" property="expirePasswords" />
        <result column="expirationdatetype" javaType="long" property="expirationDateType" />
        <result column="expirationdatetypestring" javaType="String" property="expirationDateTypeString" />
        <result column="assessmentprogramid" property="assessmentProgramId" javaType="String"/>
        <result column="currentschoolyear" property="currentSchoolYear" javaType="String"/>
        <result column="pooltype" property="poolType" javaType="String"/>
        <association property="organizationType" javaType="edu.ku.cete.domain.common.OrganizationType">
	        <result column="organizationTypeId" property="organizationTypeId" javaType="long"/>
	        <result column="typename" property="typeName" javaType="String"/>
	        <result column="typecode" property="typeCode" javaType="String"/>
	        <result column="typelevel" property="typeLevel" javaType="Integer"/>
	    </association>    
    </resultMap>
    
    <resultMap id="GradeCourseResultMap" type="edu.ku.cete.domain.content.GradeCourse">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 12 13:56:00 CDT 2012.
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="externalid" jdbcType="BIGINT" property="externalId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="abbreviatedname" jdbcType="VARCHAR" property="abbreviatedName" />
    <result column="ordinality" jdbcType="BIGINT" property="ordinality" />
    <result column="gradelevel" jdbcType="INTEGER" property="gradeLevel" />
    <result column="shortdescription" jdbcType="VARCHAR" property="shortDescription" />
    <result column="longdescription" jdbcType="VARCHAR" property="longDescription" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modifieddate" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="originationcode" jdbcType="VARCHAR" property="originationCode" />
    <result column="assessmentprogramgradesid" jdbcType="BIGINT" property="assessmentProgramGradesId" />
    <result column="contentareaid" jdbcType="BIGINT" property="contentAreaId" />
  </resultMap>
  
  <resultMap id="ContentAreaMap" type="edu.ku.cete.domain.content.ContentArea" >   
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="externalid" property="externalId" jdbcType="BIGINT" />
    <result column="sortorder" property="sortOrder" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="abbreviatedname" property="abbreviatedName" jdbcType="VARCHAR" />
    <result column="createdate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modifieddate" property="modifiedDate" jdbcType="TIMESTAMP" />
    <result column="originationcode" property="originationCode" jdbcType="VARCHAR" />
  </resultMap>

	<select id="get" resultType="edu.ku.cete.domain.common.Organization" parameterType="Long" flushCache="true" useCache="false" >
		/*NO LOAD BALANCE*/
		SELECT
			org.id, org.organizationName, org.displayIdentifier, org.organizationTypeId, 
            org.welcomeMessage, org.buildinguniqueness, org.schoolstartdate, org.schoolenddate,org.createddate,org.createduser,
            org.modifieddate,org.modifieduser,orgtype.typeName, orgtype.typeCode, orgtype.typeLevel, org.contractingorganization,
            org.expirepasswords, org.expirationdatetype, c.categorycode as expirationdatetypestring, 
            EXTRACT(YEAR from schoolenddate) as currentschoolyear, org.pooltype, org.multitestassignment, 
            org.reportprocess, org.reportyear
		FROM organization as org
			JOIN organizationtype as orgtype ON org.organizationtypeid = orgtype.id
			LEFT OUTER JOIN category c ON c.id = org.expirationdatetype
		WHERE
		    org.id = #{organizationId}
	</select>
	
	<select id="getAllChildrenByType" resultMap="OrganizationResultMap" parameterType="map">
	/*NO LOAD BALANCE*/
	select org.*,orgtype.typeName, orgtype.typeCode, orgtype.typeLevel 
		from organization_children(#{organizationId}) org
		JOIN organization o on o.id = org.id and o.activeflag is true
		JOIN organizationtype as orgtype ON org.organizationtypeid = orgtype.id
		WHERE orgtype.typecode = #{organizationTypeCode}
		order by org.organizationname
	</select>
	
	<select id="getAllChildrenIdsByType" resultType="java.lang.Long">
		/*NO LOAD BALANCE*/
		select id
		from organization_children(#{organizationId,jdbcType=BIGINT})
		where organizationtypeid =
			(select id from organizationtype where typecode = #{typeCode,jdbcType=VARCHAR})
	</select>
	
	<select id="getAllChildrenWithParentByType" resultMap="OrganizationResultMap" parameterType="map">
		/*NO LOAD BALANCE*/
		select org.*,orgtype.typeName, orgtype.typeCode, orgtype.typeLevel from 
		(select * from organization where id in (select id from organization_children(#{organizationId})
		union select #{organizationId}) and activeflag is true) org
		JOIN organizationtype as orgtype ON org.organizationtypeid = orgtype.id
		WHERE orgtype.typecode = #{organizationTypeCode}
		order by org.organizationname
	</select>
	
	<select id="getAllParents" resultMap="OrganizationResultMap" parameterType="Long">
		/*NO LOAD BALANCE*/
		select * from organization_parent(#{organizationId}) op
		join organizationtype ot on op.organizationtypeid=ot.id		
	</select>
	
	<select id="getAllChildrenOrgIds" resultType="java.lang.Long">
		/*NO LOAD BALANCE*/
		select id from organization_children(#{organizationId,jdbcType=BIGINT})
	</select>


	 <select id="findById" resultType="edu.ku.cete.domain.student.Student">
        SELECT *
        FROM student
        WHERE id = #{studentId}
    </select>
    
    <sql id="AssessmentProgram_Base_Column_List">
    	ap.id, ap.programname, ap.abbreviatedname
    </sql>
    
    <select id="findByAssessmentProgramId" resultType="edu.ku.cete.domain.content.AssessmentProgram" parameterType="long">
        SELECT
        	<include refid="AssessmentProgram_Base_Column_List"/>
        FROM assessmentprogram ap
        WHERE id = #{assessmentProgramId}
    </select>
    
    <select id="findByStudentId" resultType="edu.ku.cete.domain.content.AssessmentProgram">
     	select <include refid="AssessmentProgram_Base_Column_List"/>
     	from assessmentprogram ap
     	where ap.id = 
     		getstudentassessmentprogram(
     			#{studentId,jdbcType=BIGINT}, 
				#{currentSchoolYear, jdbcType=INTEGER}
				)
     </select>
     
     <select id="findByAbbreviatedName" resultType="edu.ku.cete.domain.content.AssessmentProgram">
        SELECT
        	<include refid="AssessmentProgram_Base_Column_List"/>
        FROM assessmentprogram ap
        WHERE abbreviatedname = #{abbreviatedName}
    </select>
    
    <select id="getAllAssessmentProgramByUserId" resultType="edu.ku.cete.domain.content.AssessmentProgram">
    	SELECT
        	<include refid="AssessmentProgram_Base_Column_List"/>
        FROM assessmentprogram ap Where id in( select assessmentprogramid from userassessmentprogram where aartuserid=#{userId} and activeflag=true)
    </select>
    
    <select id="getActiveOrInactiveUser" resultType="edu.ku.cete.domain.user.User" parameterType="Long">
		SELECT
			id, username, uniqueCommonIdentifier, firstname, middlename, surname, displayname, password,
			defaultUserGroupsId, email, ukey as salt, activeflag
		FROM aartuser
		WHERE id = #{id}
  </select>
  
  <select id="getCategoryId" parameterType="map" resultType="Long">
    SELECT c.id
		FROM   category c,
		       categorytype ct
		WHERE  c.categorytypeid = ct.id
		AND    c.categorycode   = #{categoryCode}
		AND    ct.typecode      = #{categoryTypeCode}
  </select>
  
  <select id="getSubjectsForStudentScoreExtract" resultMap="ContentAreaMap">			
SELECT distinct ca.id, ca.externalid, ca.sortorder, ca.name, ca.abbreviatedname, ca.createdate, ca.modifieddate, ca.originationcode 
from contentarea ca 
JOIN studentreport sr ON ca.id = sr.contentareaid 
join enrollment en on en.studentid=sr.studentid and en.currentschoolyear =#{schoolYear} and en.activeflag is true
<if test="isDistict">			
		and en.attendanceschoolid in(SELECT id FROM organization_children(
		<foreach collection="orgList" item="id"  separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
      )) 
	</if>   
      
	<if test="isSchool">
		and en.attendanceschoolid = ANY(ARRAY
      <foreach collection="orgList" item="id" open="[" close="]" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
    )
	</if>
where
sr.assessmentprogramid=#{assessmentProgramId} order by ca.name asc
  </select> 
   
  <select id="getSubjectsForTestedStudentScoreExtract" resultMap="ContentAreaMap">
	   SELECT distinct ca.id, ca.externalid, ca.sortorder, ca.name, ca.abbreviatedname, ca.createdate, ca.modifieddate, ca.originationcode 
from contentarea ca 
JOIN studentreport sr ON ca.id = sr.contentareaid 
join enrollment en on en.studentid=sr.studentid and en.currentschoolyear =#{reportYear} and en.activeflag is true
<if test="isDistict">			
		and en.attendanceschoolid in(SELECT id FROM organization_children(
		<foreach collection="orgList" item="id"  separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
      )) 
	</if>   
      
	<if test="isSchool">
		and en.attendanceschoolid = ANY(ARRAY
      <foreach collection="orgList" item="id" open="[" close="]" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
    )
	</if>
where
sr.assessmentprogramid=#{assessmentProgramId} order by ca.name asc
  </select>
  
  <select id="getStudentReportSchoolYearsBySubject" resultType="java.lang.Long">
    select distinct sr.schoolyear from studentreport sr
    JOIN assessmentprogram ap ON ap.id = sr.assessmentprogramid AND ap.abbreviatedname=#{assessmentCode}
    where sr.contentareaid = ANY(ARRAY
      <foreach collection="contentAreaId" item="id" open="[" close="]" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
    ) 
    order by schoolyear
  </select>
    
  <select id="getStudentReportSchoolYearsBySubjectForKelpa" resultType="java.lang.Long">
    select distinct sr.schoolyear from studentreport sr
    JOIN assessmentprogram ap ON ap.id = sr.assessmentprogramid AND ap.abbreviatedname=#{assessmentCode}
    order by schoolyear
  </select>
  
<select id="findGradesByOrgIdForStudentScoreExtract" resultMap="GradeCourseResultMap">
SELECT DISTINCT gc.name, gc.abbreviatedname,(substring(gc.name, '[0-9]+'))::int 
FROM enrollment en 
JOIN gradecourse gc ON en.currentgradelevel = gc.id 
JOIN student st ON en.studentid = st.id 
JOIN studentassessmentprogram asp ON asp.studentid = st.id AND asp.assessmentprogramid=#{assessmentProgramId}	
JOIN organization org ON org.id = st.stateid AND org.displayidentifier = #{displayIdentifier} 
WHERE  en.activeflag is true
<if test="isDistict">			
		and en.attendanceschoolid  in(SELECT id FROM organization_children(
		<foreach collection="organizationId" item="id"  separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
      )) 
	</if> 
      
	<if test="isSchool">
	and en.attendanceschoolid  = ANY(ARRAY
      <foreach collection="organizationId" item="id" open="[" close="]" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
    )
	</if>
AND gc.activeflag is true 
AND en.currentschoolyear = #{schoolYear} 
AND (substring(gc.name, '[0-9]+')) !='' ORDER BY (substring(gc.name, '[0-9]+'))::int 	
  </select>
  
  
  <select id="findGradesByOrgIdForStudentScoreTestedExtract" resultMap="GradeCourseResultMap">
	SELECT DISTINCT gc.name, gc.abbreviatedname,(substring(gc.name, '[0-9]+'))::int 
	FROM studentreport sr  
	JOIN gradecourse gc ON sr.gradeid=gc.id 
		JOIN student st ON sr.studentid = st.id		
		JOIN organization org ON org.id = st.stateid AND org.displayidentifier = #{displayIdentifier}
	WHERE schoolyear=#{reportYear}
	<if test="isDistict">				
		and sr.districtid = ANY(ARRAY
		<foreach collection="organizationId" item="id" open="[" close="]" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
      )
	</if>        
	<if test="isSchool">
		and sr.attendanceschoolid = ANY(ARRAY
      <foreach collection="organizationId" item="id" open="[" close="]" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
    )
	</if>	
	AND sr.stateid =#{stateId}
	AND sr.assessmentprogramid=#{assessmentProgramId}
	AND gc.activeflag is true	
	AND (substring(gc.name, '[0-9]+')) !=''
	ORDER BY (substring(gc.name, '[0-9]+'))::int  
  </select>
  
  <select id="findGradesByOrgIdForKelpaStudentScoreExtract" resultMap="GradeCourseResultMap">
		SELECT DISTINCT gc.name, gc.abbreviatedname, (substring(gc.name, '[0-9]+'))::int 
		FROM enrollment en 
		JOIN gradecourse gc ON en.currentgradelevel = gc.id 
		JOIN student st ON en.studentid = st.id 
		JOIN studentassessmentprogram asp ON asp.studentid = st.id AND asp.assessmentprogramid=#{assessmentProgramId}	
		JOIN organization org ON org.id = st.stateid AND org.displayidentifier = #{displayIdentifier} 
		WHERE  en.activeflag is true
		<if test="isDistict">			
				and en.attendanceschoolid  in(SELECT id FROM organization_children(
				<foreach collection="organizationId" item="id"  separator=",">
		        #{id,jdbcType=BIGINT}
		      </foreach>
		      )) 
			</if> 
	
	 		<if test="isSchool">
			and en.attendanceschoolid  = ANY(ARRAY
		      <foreach collection="organizationId" item="id" open="[" close="]" separator=",">
		        #{id,jdbcType=BIGINT}
		      </foreach>
		    )
			</if>
		AND gc.activeflag is true 
		AND en.currentschoolyear = #{schoolYear} 
		ORDER BY (substring(gc.name, '[0-9]+'))::int NULLS FIRST
    </select> 	
</mapper>