/* White background, black text */
body.black_gray {
	background: url(/images/pagebg2.jpg);
	color: gray;
}

.black_gray h1, .black_gray h2, .black_gray h3,.black_gray h4,.black_gray h5,.black_gray h6 {
	color: #333;
}

.black_gray h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.black_gray #container {
	background: #fff;
	border: 1px solid #999;
	box-shadow: 4px 4px 12px #888888;
	background: -webkit-gradient(linear, left bottom, left top, from(#cecece),
		to(#FFFFFF) );
	background-image: -moz-linear-gradient(bottom, #cecece 0%, #FFFFFF 30%);
}

.black_gray #container_login {
	background: #fff;
	border: 1px solid #999;
	box-shadow: 4px 4px 12px #888888;
	background: -webkit-gradient(linear, left bottom, left top, from(#cecece),
		to(#FFFFFF) );
	background-image: -moz-linear-gradient(bottom, #cecece 0%, #FFFFFF 30%);
}

.black_gray .loginContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.black_gray .loginContent input {
	border: 1px solid #333;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6),
		to(#fff) );
	background: -moz-linear-gradient(top, #d6d6d6, #fff);
	box-shadow: 2px 2px 5px #333333;
}

.black_gray .button {
	border: 1px solid #666;
	background: #6f89b8;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0c0da),
		to(#6f89b8) );
	background: -moz-linear-gradient(top, #b0c0da, #6f89b8);
	color: #fff;
	text-shadow: #000 1px 1px 1px;
	box-shadow: 2px 2px 5px #333333;
}

.black_gray .button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#6f89b8),
		to(#b0c0da) );
	background: -moz-linear-gradient(top, #6f89b8, #b0c0da);
}

.black_gray hr {
	color: #0d4272;
	background: #0d4272;
}

.black_gray a {
	color: #333;
}

.black_gray .active {
	background: #9ac1ec;
	color: #333;
}

.black_gray .error {
	color: #ff0000;
}

/* ************************* 
Top Nav
************************* */
.black_gray .topPassageNav a {
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.black_gray .topPassageNav a:hover {
	background: #9ac1ec;
	color: #333;
}

/* ************************* 
Pagination 
************************* */
.black_gray .pagesWrap {
	border: 1px solid #b5b5b5;
	background: url(/images/paginateBG.jpg) repeat-x
}

.black_gray .pagesWrap a {
	border-left: 1px solid #fff;
	border-right: 1px solid #b5b5b5;
}

.black_gray .pagesWrap a:hover {
	background: #9ac1ec;
}

.black_gray .paginateAnswered {
	background: #e0ffd6
}

.black_gray .paginateReview {
	background: #fee1a3
}

.black_gray .pageBack {
	background: url(/images/paginate_Arrows.png) left top no-repeat;
}

.black_gray .pageBack:hover {
	background: url(/images/paginate_Arrows.png) left bottom no-repeat;
}

.black_gray .pageNext {
	background: url(/images/paginate_Arrows.png) right top no-repeat;
}

.black_gray .pageNext:hover {
	background: url(/images/paginate_Arrows.png) right bottom no-repeat;
}

/* ************************* 
Tool Bars
************************* */
.black_gray #toolbar_tools a{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	color: #777777;
	text-shadow: 1px 1px 0px #ffffff;
	background-image: url('/images/icons/tools/tde-icons.svg');
	background-size: 20em 1em;
	background-origin: content-box;
	background-color:#EDEDED;
	display: block;
	width:1em;
	height:1em;			
}

.black_gray #toolbar_tools a:hover {
	background-color: #dfdfdf;
}

.black_gray #toolbar_tools .selected {
	background-color: #9ac1ec;
}

.black_gray .closebutton {
	border: 1px solid #CCC;
	background: #E0E0E0;
	background: -webkit-gradient(linear, left bottom, left top, from(#cecece),
		to(#FFFFFF) );
	background-image: -moz-linear-gradient(bottom, #cecece 0%, #FFFFFF 90%);
}

.black_gray .closebutton:hover {
	background: #e6e6e6;
}

.black_gray .toolButton {
	border: 1px solid #b4b4b4;
}

.black_gray .toolButton:hover {
	background: #fff
}

/* ************************* 
Viewports
************************* */
.black_gray .notice {
	border: 1px solid #000;
	background: #ffffcc;
}

.black_gray .viewPort {
	background: #9ac1ec;
	box-shadow: inset 4px 4px 12px #666;
}

.black_gray .viewportPortable {
	background: #9ac1ec;
	border: 1px solid #fff;
	box-shadow: inset 4px 4px 12px #666;
}

.black_gray .viewportPortable h2 {
	color: #0d4272;
}

.black_gray .viewportPortable2 {
	background: #9ac1ec;
	border: 1px solid #fff;
	box-shadow: inset 4px 4px 12px #666;
}

.black_gray .directionsContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

/* ************************* 
Testing Port
************************* */
.black_gray .testingPort {
	border: 1px solid #fff;
}

.black_gray .testingPort h2 {
	color: #0d5db6;
}

.black_gray #passageText {
	border: 1px solid #ccc;
	background: black;
}

.black_gray #passageText h3,.black_gray #passageText h5 {
	color: #457ab0;
}

/* ************************* 
Section Tabs
************************* */
.black_gray #sectionTabs a {
	background: #e9e9e9;
	border: 1px solid #ccc;
}

.black_gray #sectionTabs a:hover {
	background: #9ac1ec;
	color: #333;
}

/* ************************* 
Question Col Head
************************* */

.black_gray #questionArrowBack {
	background: url(/images/questionsArrows.png) no-repeat left top;
}

.black_gray #questionArrowNext {
	background: url(/images/questionsArrows.png) no-repeat right top;
}

.black_gray #questionArrowBack:hover {
	background: url(/images/questionsArrows.png) no-repeat left bottom;
}

.black_gray #questionArrowNext:hover {
	background: url(/images/questionsArrows.png) no-repeat right bottom;
}

/* Question Layout classes */

/* 
 * Test complete confirmation. 
 */
.black_gray #confirmEnd, .black_gray #confirmDeleteNote, .black_gray #maskWarn, .black_gray #navigationAlert {
	background: #000000;
	border: 2px solid #333;
}

.black_gray #backgroundMask {
	border: 1px solid #333;
}

/* ************************* 
Question Col Questions
************************* */
.black_gray .questionBox {
	background: black;
	border: 1px solid #ccc
}

.black_gray .questionBoxHead {
	border-bottom: 1px solid #999;
	background: url(/images/paginateBG.jpg) repeat-x;
	color: #457ab0;
}

.black_gray .review {
	background: #fee1a3;
	border: 1px solid #999;
	color: #857658;
}

.black_gray .expandArea {
	background: #CCC;
	border: 1px solid #dbdbdb;
	background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4),
		to(#fff) );
	background: -moz-linear-gradient(top, #c4c4c4, #fff);
}

.black_gray .expandArea:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#c4c4c4) );
	background: -moz-linear-gradient(top, #fff, #c4c4c4);
}

.black_gray .questionBox h4 {
	color: #457ab0;
}

.black_gray .questionAnswers label,.black_gray .questionAnswers span.foil {
	color: gray;
}

.black_gray .accordionContent {
	background: black;
	border: 1px solid #ccc;
}

.black_gray .footer a {
	color: #0f4379;
	text-shadow: #fff 1px 1px 1px;
}

.black_gray .backButton {
	background: #d8d8d8; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#d8d8d8),
		to(#eeeeee) );
	background-image: -moz-linear-gradient(bottom, #d8d8d8 0%, #eeeeee 30%);
	border: 1px solid #efefef;
	box-shadow: 2px 2px 4px #999;
}

.black_gray .backButton:hover {
	background: #eeeeee; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee),
		to(#d8d8d8) );
	background-image: -moz-linear-gradient(bottom, #eeeeee 0%, #d8d8d8 30%);
}

.black_gray .nextButton {
	background: #d8d8d8; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#d8d8d8),
		to(#eeeeee) );
	background-image: -moz-linear-gradient(bottom, #d8d8d8 0%, #eeeeee 30%);
	border: 1px solid #efefef;
	color: #0D5DB6;
}

.black_gray .nextButton:hover {
	background: #eeeeee; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee),
		to(#d8d8d8) );
	background-image: -moz-linear-gradient(bottom, #eeeeee 0%, #d8d8d8 30%);
}

.black_gray .clear {
	background: #e3c7dd; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#e3c7dd),
		to(#dbbbd3) );
	background-image: -moz-linear-gradient(bottom, #e3c7dd 0%, #dbbbd3 30%);
	border: 1px solid #ac8ea8;
}

.black_gray .clear:hover {
	background: #dbbbd3;
	background: -webkit-gradient(linear, left bottom, left top, from(#dbbbd3),
		to(#e3c7dd) );
	background-image: -moz-linear-gradient(bottom, #dbbbd3 0%, #e3c7dd 30%);
}

.black_gray .reviewBig {
	background: #fedd8e; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#fedd8e),
		to(#f9d889) );
	background-image: -moz-linear-gradient(bottom, #fedd8e 0%, #f9d889 30%);
	border: 1px solid #ac8ea8;
}

.black_gray .reviewBig:hover {
	background: #f9d889; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#f9d889),
		to(#fedd8e) );
	background-image: -moz-linear-gradient(bottom, #f9d889 0%, #fedd8e 30%);
}

.black_gray .end {
	background: #facfcf; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#facfcf),
		to(#fddede) );
	background-image: -moz-linear-gradient(bottom, #facfcf 0%, #fddede 30%);
	box-shadow: 2px 2px 4px #999;
	border: 1px solid #ac8ea8;
}

.black_gray .end:hover {
	background: #fddede;
	background: -webkit-gradient(linear, left bottom, left top, from(#fddede),
		to(#facfcf) );
	background-image: -moz-linear-gradient(bottom, #fddede 0%, #facfcf 30%);
}

.black_gray .button2 {
	background: url(/images/buttonBG.png) left top no-repeat #6f89b8;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0c0da),
		to(#6f89b8) );
	background: -moz-linear-gradient(top, #b0c0da, #6f89b8);
	border: 1px solid #57738c;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
	box-shadow: 2px 2px 6px #666;
}

.black_gray .button2:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#6f89b8),
		to(#b0c0da) );
	background: -moz-linear-gradient(top, #6f89b8, #b0c0da);
}

.black_gray .homeContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.black_gray .takeContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.black_gray .buttonLink {
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#d7d7d7) );
	background: -moz-linear-gradient(top, #fff, #d7d7d7);
	box-shadow: 2px 2px 3px #d7d6d6;
	border: 1px solid #999;
	box-shadow: 2px 2px 3px #D7D6D6;
}

.black_gray .buttonLink:hover {
	box-shadow: none;
}

.black_gray .selectTestContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.black_gray .selectTestContent label {
	color: #0D4272
}

.black_gray .selectTestContent select {
	border-color: #ccc;
}

.black_gray .selectTest {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.black_gray .selectTest li+li {
	border-top: 1px solid #CCC
}

.black_gray .alternate {
	background-color: #e7e7e7;
}

.black_gray .selectTest ul {
	background-color: #fff;
}

.black_gray .selectTest li:hover,.black_gray .selectTest .chosen {
	background: #a2d394
}

.black_gray .directionsTests {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.black_gray .question {
	border: 1px solid #ccc;
	background: black;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.black_gray .radio {
	background: url(/images/radioButtons.jpg) no-repeat;
}

.black_gray .checkbox {
	background: url(/images/checkbox.png) no-repeat;
}

.black_gray #reviewer div.reviewerTests {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.black_gray #reviewer #reviewbox h4 {
	border-bottom: 1px solid gray;
}

.black_gray #reviewer div.reviewquestion {
	border: 1px solid black;
}

.black_gray #magnificationBox {
	background: black;
	border: 4px solid white;
}

.white_black #magnifyingGlassControl {
	background: black;
	border: 4px solid white;
}

/* Reference */
.black_gray #reference {
	background: black;
	border: 4px solid white;
}

/********************* /Calculator ********************/
.black_gray #calculator {
	background: url(/images/calc-bg.png) no-repeat;
	z-index: 999999;
}

.black_gray #graphCalculator {
	background: white;
	border: 1px solid black;
} 

/********************* /Highlighter ********************/
.black_gray .tts_hightlight {
	background-color:yellow;
}

.black_gray .tts_underline {
	border-bottom:1px solid red;
}

.black_gray .highlight {
	background-color: yellow;
}

.black_gray .strikethrough {
	text-decoration: line-through;
}

/********************* /GuideLine ********************/
.black_gray .guidetopper {
	background: gold;
}

/********************* /Ruler ******************************/
.black_gray #rulerDiv {
	background: url('/images/tools/ruler-cmtop.png') no-repeat;
}

/******************* Search Tool **************************/
.black_gray #searchBox {
	background: #cccccc;
}

.black_gray .search_highlight {
	background-color: #FFA824;
}

/************periodic table ************/
.black_gray #periodicTable {
	background: white;
	border: 1px solid black;
}

.black_gray #pTElem {
	background: white;
	border: 1px solid black;
}

.black_gray table.navbar td a,.black_gray table.navbar td a.he {
	color: #000000;
}

.black_gray table.navbar td {
	border: 1px solid white;
}

.black_gray .info {
	background-color: #F5F5F5;
	color: #333333;
}

.black_gray .navbar td a:hover,.black_gray .navbar td a:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #FFFFFF;
}

.black_gray .navbar td a.unnamed:link,.black_gray .navbar td a.unnamed:visited {
	background-color: #FFFFFF;
	border: 1px solid #0F5782;
	color: #A52A2A;
}

.black_gray .navbar td a.rare-synthetic:link,.black_gray .navbar td a.rare-synthetic:visited {
	background-color: #DDDDDD;
	border: 1px solid #0F5782;
	color: #A52A2A;
}

.black_gray .navbar td a.rare-synthetic:hover,.black_gray .navbar td a.rare-synthetic:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #FFFFFF;
}

.black_gray .navbar td a.rare:link,.black_gray .navbar td a.rare:visited {
	background-color: #DDDDDD;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.rare:hover,.black_gray .navbar td a.rare:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.tmetals:link {
	background-color: #EBB8B8; /*#F5F5DC;*/
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.tmetals:hover,.black_gray .navbar td a.tmetals:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.tmetals-synthetic:link,.black_gray .navbar td a.tmetals-synthetic:visited
	{
	background-color: #EBB8B8;
	border: 1px solid #0F5782;
	color: #A52A2A;
}

.black_gray table.navbar td a.ngases:link {
	background-color: #C3D4FF; /*#E6E6FA;*/
	border: 1px solid #0F5782;
	color: #008000;
}

.black_gray .navbar td a.halogens-gases:link,.black_gray .navbar td a.halogens-gases:visited {
	background-color: #ADE8C7;
	border: 1px solid #0F5782;
	color: #008000;
}

.black_gray .navbar td a.halogens-gases:hover,.black_gray .navbar td a.halogens-gases:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #008000;
}

.black_gray table.navbar td a.onm-gases:link,.black_gray table.navbar td a.onm-gases:visited {
	background-color: #FFEEDD;
	border: 1px solid #0F5782;
	color: #225588;
}

.black_gray table.navbar td a.onm-gases:hover,.black_gray table.navbar td a.onm-gases:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #008000;
}

.black_gray .navbar td a.metalloid:link,.black_gray .navbar td a.metalloid:visited {
	background-color: #7ED38F; 
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.metalloid:hover,.black_gray .navbar td a.metalloid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.ometals:link,.black_gray .navbar td a.ometals:visited {
	background-color: #CDEB8B;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.ometals:hover,.black_gray .navbar td a.ometals:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.alkali:link,.black_gray .navbar td a.alkali:visited {
	background-color: #DDCCDD;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.alkali:hover,.black_gray .navbar td a.alkali:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.alkalie:link,.black_gray .navbar td a.alkalie:visited {
	background-color: #FFF3BB;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.alkalie:hover,.black_gray .navbar td a.alkalie:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.alkali-liquid:link,.black_gray .navbar td a.alkali-liquid:visited {
	background-color: #DDCCDD;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.black_gray .navbar td a.alkali-liquid:hover,.black_gray .navbar td a.alkali-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.black_gray .navbar td a.halogens:link,.black_gray .navbar td a.halogens:visited {
	background-color: #ADE8C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.halogens:hover,.black_gray .navbar td a.halogens:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray table.navbar td a.onm:link,.black_gray table.navbar td a.onm:visited {
	background-color: #FF9966;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray table.navbar td a.onm:hover,.black_gray table.navbar td a.onm:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.black_gray .navbar td a.halogens-liquid:link,.black_gray .navbar td a.halogens-liquid:visited {
	background-color: #ADE8C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.black_gray .navbar td a.halogens-liquid:hover,.black_gray .navbar td a.halogens-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.black_gray .navbar td a.ometals-liquid:link,.black_gray .navbar td a.ometals-liquid:visited {
	background-color: #CDEB8B;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.black_gray .navbar td a.ometals-liquid:hover,.black_gray .navbar td a.ometals-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.black_gray .navbar td a.tmetals-liquid:link,.black_gray .navbar td a.tmetals-liquid:visited {
	background-color: #EBB8B8;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.black_gray .navbar td a.tmetals-liquid:hover,.black_gray .navbar td a.tmetals-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

/*dlm added*/
.black_gray #calculator {
	background: url(/images/calc-bg.png) no-repeat;
}

.black_gray #calculator .num-button {
	background: url(/images/button-bg.png) no-repeat;
}

.black_gray #calculator .clear-button {
	background: url(/images/button-bg.png) no-repeat;
}

.black_gray #calculator .function-button {
	background: url(/images/function-button-bg.png) no-repeat;
}

.black_gray #calculator .equals-button {
	background: url(/images/equals-bg.png) no-repeat;
}

.black_gray #calculator #plusminus {
	background: url(/images/function-button-bg.png) no-repeat;
}

.black_gray #calculator #calc-back {
	background: url(/images/function-button-bg.png) no-repeat;
}