/* White background, black text */
body.white_red {
	background: url(/images/pagebg2.jpg);
	color: red;
}

.white_red h1, .white_red h2, .white_red h3,.white_red h4,.white_red h5,.white_red h6 {
	color: #333;
}

.white_red h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.white_red #container {
	background: #fff;
	border: 1px solid #999;
	box-shadow: 4px 4px 12px #888888;
	background: -webkit-gradient(linear, left bottom, left top, from(#cecece),
		to(#FFFFFF) );
	background-image: -moz-linear-gradient(bottom, #cecece 0%, #FFFFFF 30%);
}

.white_red #container_login {
	background: #fff;
	border: 1px solid #999;
	box-shadow: 4px 4px 12px #888888;
	background: -webkit-gradient(linear, left bottom, left top, from(#cecece),
		to(#FFFFFF) );
	background-image: -moz-linear-gradient(bottom, #cecece 0%, #FFFFFF 30%);
}

.white_red .loginContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.white_red .loginContent input {
	border: 1px solid #333;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6),
		to(#fff) );
	background: -moz-linear-gradient(top, #d6d6d6, #fff);
	box-shadow: 2px 2px 5px #333333;
}

.white_red .button {
	border: 1px solid #666;
	background: #6f89b8;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0c0da),
		to(#6f89b8) );
	background: -moz-linear-gradient(top, #b0c0da, #6f89b8);
	color: #fff;
	text-shadow: #000 1px 1px 1px;
	box-shadow: 2px 2px 5px #333333;
}

.white_red .button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#6f89b8),
		to(#b0c0da) );
	background: -moz-linear-gradient(top, #6f89b8, #b0c0da);
}

.white_red hr {
	color: #0d4272;
	background: #0d4272;
}

.white_red a {
	color: #333;
}

.white_red .active {
	background: #9ac1ec;
	color: #333;
}

.white_red .error {
	color: #ff0000;
}

/* ************************* 
Top Nav
************************* */
.white_red .topPassageNav a {
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.white_red .topPassageNav a:hover {
	background: #9ac1ec;
	color: #333;
}

/* ************************* 
Pagination 
************************* */
.white_red .pagesWrap {
	border: 1px solid #b5b5b5;
	background: url(/images/paginateBG.jpg) repeat-x
}

.white_red .pagesWrap a {
	border-left: 1px solid #fff;
	border-right: 1px solid #b5b5b5;
}

.white_red .pagesWrap a:hover {
	background: #9ac1ec;
}

.white_red .paginateAnswered {
	background: #e0ffd6
}

.white_red .paginateReview {
	background: #fee1a3
}

.white_red .pageBack {
	background: url(/images/paginate_Arrows.png) left top no-repeat;
}

.white_red .pageBack:hover {
	background: url(/images/paginate_Arrows.png) left bottom no-repeat;
}

.white_red .pageNext {
	background: url(/images/paginate_Arrows.png) right top no-repeat;
}

.white_red .pageNext:hover {
	background: url(/images/paginate_Arrows.png) right bottom no-repeat;
}

/* ************************* 
Tool Bars
************************* */
.white_red #toolbar_tools a{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	color: #777777;
	text-shadow: 1px 1px 0px #ffffff;
	background-image: url('/images/icons/tools/tde-icons.svg');
	background-size: 20em 1em;
	background-origin: content-box;
	background-color:#EDEDED;
	display: block;
	width:1em;
	height:1em;			
}

.white_red #toolbar_tools a:hover {
	background-color: #dfdfdf;
}

.white_red #toolbar_tools .selected {
	background-color: #9ac1ec;
}

.white_red .closebutton {
	border: 1px solid #CCC;
	background: #E0E0E0;
	background: -webkit-gradient(linear, left bottom, left top, from(#cecece),
		to(#FFFFFF) );
	background-image: -moz-linear-gradient(bottom, #cecece 0%, #FFFFFF 90%);
}

.white_red .closebutton:hover {
	background: #e6e6e6;
}

.white_red .toolButton {
	border: 1px solid #b4b4b4;
}

.white_red .toolButton:hover {
	background: #fff
}

/* ************************* 
Viewports
************************* */
.white_red .notice {
	border: 1px solid #000;
	background: #ffffcc;
}

.white_red .viewPort {
	background: #9ac1ec;
	box-shadow: inset 4px 4px 12px #666;
}

.white_red .viewportPortable {
	background: #9ac1ec;
	border: 1px solid #fff;
	box-shadow: inset 4px 4px 12px #666;
}

.white_red .viewportPortable h2 {
	color: #0d4272;
}

.white_red .viewportPortable2 {
	background: #9ac1ec;
	border: 1px solid #fff;
	box-shadow: inset 4px 4px 12px #666;
}

.white_red .directionsContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

/* ************************* 
Testing Port
************************* */
.white_red .testingPort {
	border: 1px solid #fff;
}

.white_red .testingPort h2 {
	color: #0d5db6;
}

.white_red #passageText {
	border: 1px solid #ccc;
	background: #FFF;
}

.white_red #passageText h3,.white_red #passageText h5 {
	color: #457ab0;
}

/* ************************* 
Section Tabs
************************* */
.white_red #sectionTabs a {
	background: #e9e9e9;
	border: 1px solid #ccc;
}

.white_red #sectionTabs a:hover {
	background: #9ac1ec;
	color: #333;
}

/* ************************* 
Question Col Head
************************* */

.white_red #questionArrowBack {
	background: url(/images/questionsArrows.png) no-repeat left top;
}

.white_red #questionArrowNext {
	background: url(/images/questionsArrows.png) no-repeat right top;
}

.white_red #questionArrowBack:hover {
	background: url(/images/questionsArrows.png) no-repeat left bottom;
}

.white_red #questionArrowNext:hover {
	background: url(/images/questionsArrows.png) no-repeat right bottom;
}

/* Question Layout classes */

/* 
 * Test complete confirmation. 
 */
.white_red #confirmEnd, .white_red #confirmDeleteNote, .white_red #maskWarn, .white_red #navigationAlert {
	background: #FFFFFF;
	border: 2px solid #333;
}

.white_red #backgroundMask {
	border: 1px solid #333;
}

/* ************************* 
Question Col Questions
************************* */
.white_red .questionBox {
	background: #FFF;
	border: 1px solid #ccc
}

.white_red .questionBoxHead {
	border-bottom: 1px solid #999;
	background: url(/images/paginateBG.jpg) repeat-x;
	color: #457ab0;
}

.white_red .review {
	background: #fee1a3;
	border: 1px solid #999;
	color: #857658;
}

.white_red .expandArea {
	background: #CCC;
	border: 1px solid #dbdbdb;
	background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4),
		to(#fff) );
	background: -moz-linear-gradient(top, #c4c4c4, #fff);
}

.white_red .expandArea:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#c4c4c4) );
	background: -moz-linear-gradient(top, #fff, #c4c4c4);
}

.white_red .questionBox h4 {
	color: #457ab0;
}

.white_red .questionAnswers label,.white_red .questionAnswers span.foil {
	color: red;
}

.white_red .accordionContent {
	background: #fff;
	border: 1px solid #ccc;
}

.white_red .footer a {
	color: #0f4379;
	text-shadow: #fff 1px 1px 1px;
}

.white_red .backButton {
	background: #d8d8d8; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#d8d8d8),
		to(#eeeeee) );
	background-image: -moz-linear-gradient(bottom, #d8d8d8 0%, #eeeeee 30%);
	border: 1px solid #efefef;
	box-shadow: 2px 2px 4px #999;
}

.white_red .backButton:hover {
	background: #eeeeee; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee),
		to(#d8d8d8) );
	background-image: -moz-linear-gradient(bottom, #eeeeee 0%, #d8d8d8 30%);
}

.white_red .nextButton {
	background: #d8d8d8; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#d8d8d8),
		to(#eeeeee) );
	background-image: -moz-linear-gradient(bottom, #d8d8d8 0%, #eeeeee 30%);
	border: 1px solid #efefef;
	color: #0D5DB6;
}

.white_red .nextButton:hover {
	background: #eeeeee; /* #dddddd */
	background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee),
		to(#d8d8d8) );
	background-image: -moz-linear-gradient(bottom, #eeeeee 0%, #d8d8d8 30%);
}

.white_red .clear {
	background: #e3c7dd; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#e3c7dd),
		to(#dbbbd3) );
	background-image: -moz-linear-gradient(bottom, #e3c7dd 0%, #dbbbd3 30%);
	border: 1px solid #ac8ea8;
}

.white_red .clear:hover {
	background: #dbbbd3;
	background: -webkit-gradient(linear, left bottom, left top, from(#dbbbd3),
		to(#e3c7dd) );
	background-image: -moz-linear-gradient(bottom, #dbbbd3 0%, #e3c7dd 30%);
}

.white_red .reviewBig {
	background: #fedd8e; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#fedd8e),
		to(#f9d889) );
	background-image: -moz-linear-gradient(bottom, #fedd8e 0%, #f9d889 30%);
	border: 1px solid #ac8ea8;
}

.white_red .reviewBig:hover {
	background: #f9d889; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#f9d889),
		to(#fedd8e) );
	background-image: -moz-linear-gradient(bottom, #f9d889 0%, #fedd8e 30%);
}

.white_red .end {
	background: #facfcf; /* #eec3c3 */
	background: -webkit-gradient(linear, left bottom, left top, from(#facfcf),
		to(#fddede) );
	background-image: -moz-linear-gradient(bottom, #facfcf 0%, #fddede 30%);
	box-shadow: 2px 2px 4px #999;
	border: 1px solid #ac8ea8;
}

.white_red .end:hover {
	background: #fddede;
	background: -webkit-gradient(linear, left bottom, left top, from(#fddede),
		to(#facfcf) );
	background-image: -moz-linear-gradient(bottom, #fddede 0%, #facfcf 30%);
}

.white_red .button2 {
	background: url(/images/buttonBG.png) left top no-repeat #6f89b8;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0c0da),
		to(#6f89b8) );
	background: -moz-linear-gradient(top, #b0c0da, #6f89b8);
	border: 1px solid #57738c;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
	box-shadow: 2px 2px 6px #666;
}

.white_red .button2:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#6f89b8),
		to(#b0c0da) );
	background: -moz-linear-gradient(top, #6f89b8, #b0c0da);
}

.white_red .homeContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.white_red .takeContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.white_red .buttonLink {
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#d7d7d7) );
	background: -moz-linear-gradient(top, #fff, #d7d7d7);
	box-shadow: 2px 2px 3px #d7d6d6;
	border: 1px solid #999;
	box-shadow: 2px 2px 3px #D7D6D6;
}

.white_red .buttonLink:hover {
	box-shadow: none;
}

.white_red .selectTestContent h2 {
	border-bottom: 1px solid #1d295d;
	color: #1d295d;
}

.white_red .selectTestContent label {
	color: #0D4272
}

.white_red .selectTestContent select {
	border-color: #ccc;
}

.white_red .selectTest {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.white_red .selectTest li+li {
	border-top: 1px solid #CCC
}

.white_red .alternate {
	background-color: #e7e7e7;
}

.white_red .selectTest ul {
	background-color: #fff;
}

.white_red .selectTest li:hover,.white_red .selectTest .chosen {
	background: #a2d394
}

.white_red .directionsTests {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.white_red .question {
	border: 1px solid #ccc;
	background: #FFF;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.white_red .radio {
	background: url(/images/radioButtons.jpg) no-repeat;
}

.white_red .checkbox {
	background: url(/images/checkbox.png) no-repeat;
}

.white_red #reviewer div.reviewerTests {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 2px 2px 5px #b9b9b9;
}

.white_red #reviewer #reviewbox h4 {
	border-bottom: 1px solid gray;
}

.white_red #reviewer div.reviewquestion {
	border: 1px solid black;
}

.white_red #magnificationBox {
	background: white;
	border: 4px solid black;
}

.white_black #magnifyingGlassControl {
	background: white;
	border: 4px solid black;
}

/* Reference */
.white_red #Reference {
	background: white;
	border: 4px solid black;
}

/********************* /Calculator ********************/
.white_red #calculator {
	background: url(/images/calc-bg.png) no-repeat;
	z-index: 999999;
}

.white_red #graphCalculator {
	background: white;
	border: 1px solid black;
} 

/********************* /Highlighter ********************/
.white_red .tts_hightlight {
	background-color:yellow;
}

.white_red .tts_underline {
	border-bottom:1px solid red;
}

.white_red .highlight {
	background-color: yellow;
}

.white_red .strikethrough {
	text-decoration: line-through;
}

/********************* /GuideLine ********************/
.white_red .guidetopper {
	background: gold;
}

/********************* /Ruler ******************************/
.white_red #rulerDiv {
	background: url('/images/tools/ruler-cmtop.png') no-repeat;
}

/******************* Search Tool **************************/
.white_red #searchBox {
	background: #cccccc;
}

.white_red .search_highlight {
	background-color: #FFA824;
}

/************periodic table ************/
.white_red #periodicTable {
	background: white;
	border: 1px solid black;
}

.white_red #pTElem {
	background: white;
	border: 1px solid black;
}

.white_red table.navbar td a,.white_red table.navbar td a.he {
	color: #000000;
}

.white_red table.navbar td {
	border: 1px solid white;
}

.white_red .info {
	background-color: #F5F5F5;
	color: #333333;
}

.white_red .navbar td a:hover,.white_red .navbar td a:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #FFFFFF;
}

.white_red .navbar td a.unnamed:link,.white_red .navbar td a.unnamed:visited {
	background-color: #FFFFFF;
	border: 1px solid #0F5782;
	color: #A52A2A;
}

.white_red .navbar td a.rare-synthetic:link,.white_red .navbar td a.rare-synthetic:visited {
	background-color: #DDDDDD;
	border: 1px solid #0F5782;
	color: #A52A2A;
}

.white_red .navbar td a.rare-synthetic:hover,.white_red .navbar td a.rare-synthetic:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #FFFFFF;
}

.white_red .navbar td a.rare:link,.white_red .navbar td a.rare:visited {
	background-color: #DDDDDD;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.rare:hover,.white_red .navbar td a.rare:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.tmetals:link {
	background-color: #EBB8B8; /*#F5F5DC;*/
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.tmetals:hover,.white_red .navbar td a.tmetals:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.tmetals-synthetic:link,.white_red .navbar td a.tmetals-synthetic:visited
	{
	background-color: #EBB8B8;
	border: 1px solid #0F5782;
	color: #A52A2A;
}

.white_red table.navbar td a.ngases:link {
	background-color: #C3D4FF; /*#E6E6FA;*/
	border: 1px solid #0F5782;
	color: #008000;
}

.white_red .navbar td a.halogens-gases:link,.white_red .navbar td a.halogens-gases:visited {
	background-color: #ADE8C7;
	border: 1px solid #0F5782;
	color: #008000;
}

.white_red .navbar td a.halogens-gases:hover,.white_red .navbar td a.halogens-gases:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #008000;
}

.white_red table.navbar td a.onm-gases:link,.white_red table.navbar td a.onm-gases:visited {
	background-color: #FFEEDD;
	border: 1px solid #0F5782;
	color: #225588;
}

.white_red table.navbar td a.onm-gases:hover,.white_red table.navbar td a.onm-gases:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #008000;
}

.white_red .navbar td a.metalloid:link,.white_red .navbar td a.metalloid:visited {
	background-color: #7ED38F; 
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.metalloid:hover,.white_red .navbar td a.metalloid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.ometals:link,.white_red .navbar td a.ometals:visited {
	background-color: #CDEB8B;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.ometals:hover,.white_red .navbar td a.ometals:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.alkali:link,.white_red .navbar td a.alkali:visited {
	background-color: #DDCCDD;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.alkali:hover,.white_red .navbar td a.alkali:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.alkalie:link,.white_red .navbar td a.alkalie:visited {
	background-color: #FFF3BB;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.alkalie:hover,.white_red .navbar td a.alkalie:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.alkali-liquid:link,.white_red .navbar td a.alkali-liquid:visited {
	background-color: #DDCCDD;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.white_red .navbar td a.alkali-liquid:hover,.white_red .navbar td a.alkali-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.white_red .navbar td a.halogens:link,.white_red .navbar td a.halogens:visited {
	background-color: #ADE8C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.halogens:hover,.white_red .navbar td a.halogens:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red table.navbar td a.onm:link,.white_red table.navbar td a.onm:visited {
	background-color: #FF9966;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red table.navbar td a.onm:hover,.white_red table.navbar td a.onm:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #000000;
}

.white_red .navbar td a.halogens-liquid:link,.white_red .navbar td a.halogens-liquid:visited {
	background-color: #ADE8C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.white_red .navbar td a.halogens-liquid:hover,.white_red .navbar td a.halogens-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.white_red .navbar td a.ometals-liquid:link,.white_red .navbar td a.ometals-liquid:visited {
	background-color: #CDEB8B;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.white_red .navbar td a.ometals-liquid:hover,.white_red .navbar td a.ometals-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.white_red .navbar td a.tmetals-liquid:link,.white_red .navbar td a.tmetals-liquid:visited {
	background-color: #EBB8B8;
	border: 1px solid #0F5782;
	color: #0000FF;
}

.white_red .navbar td a.tmetals-liquid:hover,.white_red .navbar td a.tmetals-liquid:active {
	background-color: #AFC7C7;
	border: 1px solid #0F5782;
	color: #0000FF;
}

/*dlm added*/
.white_red #calculator {
	background: url(/images/calc-bg.png) no-repeat;
}

.white_red #calculator .num-button {
	background: url(/images/button-bg.png) no-repeat;
}

.white_red #calculator .clear-button {
	background: url(/images/button-bg.png) no-repeat;
}

.white_red #calculator .function-button {
	background: url(/images/function-button-bg.png) no-repeat;
}

.white_red #calculator .equals-button {
	background: url(/images/equals-bg.png) no-repeat;
}

.white_red #calculator #plusminus {
	background: url(/images/function-button-bg.png) no-repeat;
}

.white_red #calculator #calc-back {
	background: url(/images/function-button-bg.png) no-repeat;
}