div .profileView .dataTable { 
	display: table;
	border-spacing:10px;
	border-collapse:seperate;
}

div .profileView .row { 
	display: table-row;

}

div .profileView .cell { 
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}

div .profileView .left-cell { 
	width: 25%;
}

div .profileView h2 {
    color: #4090E1;
    font-size: 1.5em;
    font-weight: 300;
}


div .profileView .blueLabel {
	font-size: .95em;
    color: #4179b2;
    text-transform: uppercase; 
}

div .profileView .value{
    color: #646567;
    font-weight: 300; 
}

div .profileView .tab{
	  cursor: pointer;
	      margin: 5px 0;
    padding: 5px;
}

div .profileView .passwordErrors{
	font-size: .75em;
	color: red;
	text-align:left;
}
div .profileView .displayNameErrors{
	font-size: .75em;
	color: red;
}
div .profileView .ovSuccess{	
    font-size: 1em;
    color: green;
	margin-left: 20%;
	margin-right: 10%;
}
.roleContainer{
	clear: both;
    float: right;
    margin: 1%;
}
.defaultRoleSelect{
	width:225px !important;
}
.default{
	color: #0e76bc;
    font-family: Helvetica;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
    padding-bottom:35px;
}
.defaultText{
	font-size:10pt;
	color:#a7a9ac;
}