@CHARSET "ISO-8859-1";
#resetPasswordForm label {
	display: block;
	float: left;
	clear: left;
	text-align: right;
	vertical-align: bottom;
	width: 10em;
}

#resetPasswordForm input[type="text"], #resetPasswordForm input[type="password"] {
	margin: 0 0 10px 7px;
	padding: 2px;
	width: 30%;
}

#resetPasswordForm input[type="submit"] {
	float: none;
	width: auto;
}

#resetPasswordForm .prefill {
	background-color: gainsboro;
}

.instructions {
	font-style: italic;
    margin: 10px auto 10px auto;
    font-size: .9em;
}

.resetexpiredinstructions {
	font-style: italic;
    margin: 10px auto 10px auto;
    font-size: .9em;
    word-wrap: normal;
    width: 50%;
}