	<!-- start magnification tool -->
	<div id="magnify" class="tool tool-container">
		<div class="tool-c">

			<div class="tool-hdr">
				<a href="#" class="ind-tool-close tool-close">X</a>
				<div class="drawer-hdr h2-font"><%=tool_names.magnification.header%></div>
			</div><!-- /tool hdr -->

			<div class="tool-content">
				<img src="/images/mag-icons.svg" alt="Magnify Scale" class="tool-img">						
				<div id="mag-slider"></div>
				<img src="/images/mag-num-icons.svg" alt="Magnify Scale" class="tool-img">
			</div><!-- /tool content area -->

		</div><!-- /tool c -->
	</div><!-- tool -->
	<!-- /mag tool -->