<!-- search  -->
<div id="search" class="tool">
	<div class="tool-container">
		<div class="tool-hdr">
			<a href="#" class="ind-tool-close tool-close">X</a>
		</div>

		<a id="clearSearch" class="change-title btn" href="#"><%=tool_names.search.clear%></a>

		<ul class="search-inputs">
			<li><input name="" maxlength="50" placeholder="<%=tool_names.search.label%>" /></li>
			<li><button><%=tool_names.search.name%></button></li>
		</ul>

		<br class="clear" />
	</div>	
</div><!-- /tool -->
<!-- /search -->