<div id="masks">
	<div id="mask" class="mask">
		<div class="tool-hdr">
			<a href="#" class="ind-tool-close tool-close">X</a>
		</div>
		<img src="images/resize-black.png"/>
	</div>
	
	<div id="maskWarn" class="popupOverlay">
		<div class="overlay-content overlayShowing">
			<div class="activation-form">
	   			<p><%=tool_names.mask.warning%></p>
	   			<div class="activation">
					<button type="button" id="maskWarnConfirm" class="btn-rev"><%=tool_names.postItNotes.ok%></button>
				</div>
			</div>
    	</div>
 	</div>

</div>