	<div id="pt" class="tool">
		<div class="tool-container">

		<div class="tool-hdr">

				<a id="ptCloser" href="#" class="ind-tool-close tool-close">X</a>

			</div><!-- /tool hdr -->

		<table id="elements" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>1</sup>H</div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>2</sup>He</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>3</sup>Li</div>
                </div>
            </td>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>4</sup>Be</div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>5</sup>B</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>6</sup>C</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>7</sup>N</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>8</sup>O</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>9</sup>F</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>10</sup>Ne</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>11</sup>Na</div>
                </div>
            </td>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>12</sup>Mg</div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>13</sup>Al</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>14</sup>Si</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>15</sup>P</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>16</sup>S</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>17</sup>Cl</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>18</sup>Ar</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>19</sup>K</div>
                </div>
            </td>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>20</sup>Ca</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>21</sup>Sc</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>22</sup>Ti</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>23</sup>V</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>24</sup>Cr</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>25</sup>Mn</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>26</sup>Fe</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>27</sup>Co</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>28</sup>Ni</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>29</sup>Cu</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>30</sup>Zn</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>31</sup>Ga</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>32</sup>Ge</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>33</sup>As</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>34</sup>Se</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>35</sup>Br</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>36</sup>Kr</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>37</sup>Rb</div>
                </div>
            </td>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>38</sup>Sr</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>39</sup>Y</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>40</sup>Zr</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>41</sup>Nb</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>42</sup>Mo</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>43</sup>Tc</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>44</sup>Ru</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>45</sup>Rh</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>46</sup>Pd</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>47</sup>Ag</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>48</sup>Cd</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>49</sup>In</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>50</sup>Sn</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>51</sup>Sb</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>52</sup>Te</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>53</sup>I</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>54</sup>Xe</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>55</sup>Cs</div>
                </div>
            </td>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>56</sup>Ba</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>71</sup>La</a></div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>72</sup>Hf</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>73</sup>Ta</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>74</sup>W</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>75</sup>Re</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>76</sup>Os</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>77</sup>Ir</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>78</sup>Pt</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>79</sup>Au</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>80</sup>Hg</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>81</sup>Tl</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>82</sup>Pb</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>83</sup>Bi</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>84</sup>Po</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>85</sup>At</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>86</sup>Rn</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>87</sup>Fr</div>
                </div>
            </td>
            <td>
                <div class="element document">
                    <div class="icon" style=""><sup>88</sup>Ra</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>103</sup>Lr</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>104</sup>Rf</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>105</sup>Db</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>106</sup>Sg</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>107</sup>Bh</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>108</sup>Hs</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>109</sup>Mt</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>110</sup>Ds</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>111</sup>Rg</div>
                </div>
            </td>
            <td>
                <div class="element text">
                    <div class="icon" style=""><sup>112</sup>Cn</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>113</sup>Uut</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>114</sup>Uuq</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>115</sup>Uup</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>116</sup>Lv</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>117</sup>Uus</div>
                </div>
            </td>
            <td>
                <div class="element form">
                    <div class="icon" style=""><sup>118</sup>Uuo</div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>57</sup>La</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>58</sup>Ce</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>59</sup>Pr</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>60</sup>Nd</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>61</sup>Pm</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>62</sup>Sm</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>63</sup>Eu</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>64</sup>Gd</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>65</sup>Tb</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>66</sup>Dy</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>67</sup>Ho</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>68</sup>Er</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>69</sup>Tm</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>70</sup>Yb</a></div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>89</sup>Ac</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>90</sup>Th</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>91</sup>Pa</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>92</sup>U</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>93</sup>Np</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>94</sup>Pu</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>95</sup>Am</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>96</sup>Cm</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>97</sup>Bk</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>98</sup>Cf</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>99</sup>Es</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>100</sup>Fm</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>101</sup>Md</div>
                </div>
            </td>
            <td>
                <div class="element embedding">
                    <div class="icon" style=""><sup>102</sup>No</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

	<div id="pTElem" class="info" style="display:none;">
		<div class="tool-hdr">
			<a id="ptElemCloser" href="#" class="ind-tool-close tool-close">X</a>
		</div><!-- /tool hdr -->
		
		<h3></h3>
		<ul class="element-info"></ul>
	</div>
	</div>
</div>
	<!-- END pt -->