<!-- begin text to speech -->
	<div id="textToSpeech" class="tool tool-container">
		
		<div class="tool-hdr">
			<a href="#" class="ind-tool-close tool-close">X</a>
			<h2 class="left tts-hdr"><%=tool_names.textToSpeech.name%></h2>
			
			<!--<select class="change-title btn">
					<option>Male</option>
					<option>Female</option>
					<option>Human</option>
			</select>-->
		</div>

		<div id="ttsAudio_container" class="tool-content jp-audio">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface">
				<!--<div class="jp-controls">-->
				<div class="tts-controls">
					<ul class="jp-controls">
						<li style="width:25px;margin-top:11px;"><a class="player-prev" href="#"><span class="pb"></span> Play</a></li>
						<li style="width:50px;"><a class="play_pause play ttsPlay" href="#"><span class="pb"></span> Play</a></li>
						<li style="width:25px;margin-top:11px;"><a class="player-next" href="#"><span class="pb"></span> Play</a></li>
						
						
					</ul>
				</div><!-- /controls -->

				<!--<div class="tts-help">
					<ul>
						<li><a class="tts-highlight" href="#"><span></span> Highlight</a></li>
						<li><a class="tts-underline" href="#"><span></span> Underline</a></li>
					</ul>
				</div>--><!-- /controls -->

				<br class="clear" />
				
				<!--<div style="width: 55%; display: inline-block; margin-top:2px;">
		        	<div class="jp-time-holder">
		         		<div class="jp-current-time"></div>
		         		<div class="jp-duration"></div>
		        	</div>
		          	<div class="jp-progress">
		          		<div class="jp-seek-bar">
		            		<div class="jp-play-bar"></div>
		          		</div>
		        	</div>
		        </div>-->
		        
		        <!--<div style="width: 35%; display: inline-block; margin-top:2px; margin-left:30px;">
		        	<div class="jp-speed-holder">
		         		<div>Speed</div>
		        	</div>
		          	<div class="jp-speed">
		          		<div class="jp-speed-bar">
		            		<div class="jp-speedselect-bar"></div>
		          		</div>
		        	</div>
		        </div>-->
				
		        <!--</div>-->
		        </div>
			</div>
		</div><!-- /player-c -->		
		<div id="ttsAudio" class="jp-jplayer" style="display:none;"></div>
	</div>
	<!-- /text to speech -->